<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img [routerLink]="['/']" src="../assets/brain-logo.png" style="cursor: pointer; max-height: 60px; margin:10px;">
    <span style="cursor: pointer;" [routerLink]="['/']">Human resources challenge</span>
    <span class="example-spacer"></span>
    <button class="example-icon mr-3" mat-raised-button (click)="openDialog()">Login</button>
    <button *ngIf="authService.isArbitrate || authService.isAdmin"
            class="example-icon"
            mat-raised-button
            (click)="authService.logout()"
            color="primary">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
