@import '~bootstrap/scss/bootstrap';

@import '~@angular/material/theming';
@include mat-core();

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$md-region1: (
  50 : #f8e0e1,
  100 : #edb3b3,
  200 : #e18081,
  300 : #d44d4f,
  400 : #cb2629,
  500 : #c20003,
  600 : #bc0003,
  700 : #b40002,
  800 : #ac0002,
  900 : #9f0001,
  A100 : #ffc9c9,
  A200 : #ff9696,
  A400 : #ff6363,
  A700 : #ff4a4a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$candy-app-primary: mat-palette($md-region1);
$candy-app-accent:  mat-palette($mat-red);//($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

abe-header {
  nav {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    nav {
      width: 80%;
    }
  }
}

.btn-primary-custom {
  font-weight: bold;
  color: #090909;
  background-color: #eeda52;
  border: #e6b700;
}

.btn-primary-custom:hover {
  coloR: #000;
  background-color: #e6b700;
}

.btn-primary-custom:active {
  background-color: #ddb000;
}

.btn-primary-custom:target {
  background-color: #ddb000;
}

.app-block {
  display: flex;
  flex: 1;
  flex-direction: row ;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
}
.app-block-label {
  display: flex;
  flex: 1;
  flex-direction: column ;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
}

.mat-card-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  flex-shrink: 0;
}

.strong {
  font-weight: bold;
}
