<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8"><h2>Matchs en cours</h2></div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
        </div>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Niveau de compétition</th>
        <th>Equipe 1</th>
        <th>Equipe 2</th>
        <th>Score</th>
        <th>Temps de jeu</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Demi Finale</td>
        <td>PSG</td>
        <td>OM</td>
        <td>2-0</td>
        <td>77min</td>
        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
