<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-8"><h2>Matchs en cours</h2></div>
        <div class="col-sm-4">
          <button mat-raised-button [disabled]="isDisable()" (click)="addMatch()">Ajouter un Match</button>
          <button mat-raised-button [disabled]="isDisable()" (click)="removeMatch()">Supprimer un Match</button>
        </div>
      </div>
    </div>
    <table mat-table [dataSource]="matchService.dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>

      <ng-container matColumnDef="niveauCompet">
        <th mat-header-cell *matHeaderCellDef> Niveau de Compétition </th>
        <td mat-cell *matCellDef="let element">{{element.niveauCompet}}</td>
      </ng-container>

      <ng-container matColumnDef="equipe1">
        <th mat-header-cell *matHeaderCellDef> Equipe </th>
        <td mat-cell *matCellDef="let element">{{element.equipe1}}</td>
      </ng-container>

      <ng-container matColumnDef="score1">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element">{{element.score1}}</td>
      </ng-container>

      <ng-container matColumnDef="equipe2">
        <th mat-header-cell *matHeaderCellDef> Equipe </th>
        <td mat-cell *matCellDef="let element">{{element.equipe2}}</td>
      </ng-container>

      <ng-container matColumnDef="score2">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element">{{element.score2}}</td>
      </ng-container>

      <ng-container matColumnDef="tempsJeu">
        <th mat-header-cell *matHeaderCellDef> Temps de Jeu </th>
        <td mat-cell *matCellDef="let element">{{element.tempsJeu}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
  </div>
</div>
</body>
</html>
